<!DOCTYPE html>
<html>
  <head>
  <title>{% if page.title %}{{ page.title }}{% endif %}</title>
  <!-- Meta -->
  {% if page.meta_keywords %}<meta name="keywords" content="{{ page.meta_keywords }}" />{% endif %}
  {% if page.meta_description %}<meta name="description" content="{{ page.meta_description }}" />{% endif %}
  <!-- CSS -->
  <link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen" />

</head>
<body id="home">
    <div id="header">
      <div class="wrap">
      <h1><a href="/">iticker</a></h1>
      <ul id="account" class="self_clear">
          <li class=""><a href="http://itickerapp.com">iTICKER home</a></li>
      </ul>
      </div>
    </div>

    <div id="content">
